# Week 35 handin

## 01 Assignment

1. Create 5 list comprehensions to solve the following 5 problems:
  1. Iterate a list of names to return a list of the names starting with H
  2. In one line create a list of the numbers 1-100 to the power of 3
  3. Iterate a list of names to create a list of tuples where the tuples first value is the length of the name and the second is the name
  4. Iterate over each character in a string and get only those that are nummeric
  5. Using only a list comprehension wrapped in set() get all possible combination from throwing 2 dice (hint use 2 for loops in a single list comprehension)

2. Create 2 dictionary comprehensions to solve the following:
  1. Iterate a list of names and create a dictionary where key is the name and value is the length of the name
  2. Iterate a list of numbers and create a dictionary with {key:value} being {number:squareroot_of_number}

3. Extra assignment (This one goes beyond what is covered in the course notebooks. So only do it if you want an extra challenge).
  - Progammatically using loops create a small program to produce a dictionary with all the 2 dice throw combinations as keys and their likelyhood in percent as values

## 02 Status

How far you got:
Currently 1 and 2 has been completed. Haven't looked at the the extra assignment yet

What is implemented and what is not:

Implemented: Assignment 1 & 2

Not Implemented: Assignment 3

## 03 Solution part 1

In [12]:
# 1.A

list_of_names = list(["Harry", "Jones", "Adam", "Marie", "Louise", "hans", "Berry", "tom", "Charlotte", "Eva", "Henry"])
list_containing_H = list()

for i in range(len(list_of_names)):
    if list_of_names[i][0] == "H":
        list_containing_H.append(list_of_names[i])

            
print(list_containing_H)

['Harry', 'Henry']

In [10]:
# 1.B

list_numbers_powerof3 = list(num**3 for num in range (1,101));

print(list_numbers_powerof3)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [43]:
# 1.C

my_names = list(["Harry", "Jones", "Adam", "Marie", "Louise", "hans", "Berry", "tom", "Charlotte", "Eva", "Henry"])

for i in range(len(my_names)):
    my_tuple = (len(list_of_names[i]), list_of_names[i])
    print(my_tuple)

(5, 'Harry')
(5, 'Jones')
(4, 'Adam')
(5, 'Marie')
(6, 'Louise')
(4, 'hans')
(5, 'Berry')
(3, 'tom')
(9, 'Charlotte')
(3, 'Eva')
(5, 'Henry')

In [79]:
# 1.D

string_with_num = "H3ll0 h0w ar3 y0u?"

#example 1
for i in range(len(string_with_num)):
    if string_with_num[i] in ["0","1","2","3","4","5","6","7","8","9"]:
        print(string_with_num[i])
        
print("\n")

#example 2
for i in range(len(string_with_num)):
    if any(i.isdigit() for i in string_with_num[i]) == True:
        print(string_with_num[i])

3
0
0
3
0


3
0
0
3
0

In [93]:
# 1.E

combos = set([(dice1,dice2) for dice1 in range(1,7) for dice2 in range(1,7)])
print(combos)

{(1, 3), (6, 6), (5, 6), (2, 1), (6, 2), (1, 6), (5, 1), (2, 5), (1, 2), (3, 3), (5, 5), (4, 4), (6, 3), (1, 5), (3, 6), (2, 2), (4, 1), (1, 1), (6, 4), (3, 2), (2, 6), (5, 4), (4, 5), (5, 2), (1, 4), (2, 3), (4, 2), (6, 5), (3, 5), (5, 3), (4, 6), (6, 1), (3, 1), (4, 3), (3, 4), (2, 4)}

## 04 Solution part 2

In [109]:
# 2.A

list_of_names = list(["Harry", "Jones", "Adam", "Marie", "Louise", "Hans", "Berry", "Tom", "Charlotte", "Eva", "Henry"])
list_dictionary = {}

for i in range(len(list_of_names)):
    list_dictionary.update([(list_of_names[i], len(list_of_names[i]))])
    

print(list_dictionary)

{'Harry': 5, 'Jones': 5, 'Adam': 4, 'Marie': 5, 'Louise': 6, 'Hans': 4, 'Berry': 5, 'Tom': 3, 'Charlotte': 9, 'Eva': 3, 'Henry': 5}

In [121]:
# 2.B

list_of_numbers = list([3,6,8,1,7,9,234,9123,123,125451])
list_dictionary = {}

for i in range(len(list_of_numbers)):
    list_dictionary.update([(list_of_numbers[i], math.sqrt(list_of_numbers[i]))])
    

print(list_dictionary)

{3: 1.7320508075688772, 6: 2.449489742783178, 8: 2.8284271247461903, 1: 1.0, 7: 2.6457513110645907, 9: 3.0, 234: 15.297058540778355, 9123: 95.51439682058407, 123: 11.090536506409418, 125451: 354.19062664051404}