# Week 40 handin

# Handin Exercise 8

Data from https://www.kaggle.com/thomaskonstantin/top-270-rated-computer-science-programing-books

1. Download data fra link

2. Opret en database ud fra ovenstående datastruktur
    1. Indsæt alt data i den oprettede database, fra den downloade fil

3. Opret en flask server

4. Lav følgende endpoints samt tilhørende funktioner
    1. api/books (Returnerer alle bøger i databasen)
    2. api/books/top10 (Returnerer de 10 bøger med højest rating)
    3. api/books/newbook (Opretter en ny bog i databasen)
    4. api/book/deletebook/{id} (Sletter en bog med valgte id)
    5. api/book/editbook/{id} (Redigerer en bog med valgte id)
    6. api/book/avgprice (Returnerer gennemsnitsprisen for en bog)
    
5. Test endpoints i Postman eller lignende.

## 02 Status

How far you got:

## 03 Exercises

1. Download data fra link

In [12]:
!ls ./

prog_book.csv  Week_42.ipynb

2. Opret en database ud fra ovenstående datastruktur
    1. Indsæt alt data i den oprettede database, fra den downloade fil

In [83]:
import pandas as pd 
from sqlalchemy import create_engine #sqlalchemy helped convert strings to dates seamlessly
import mysql.connector as mysql

filename = "./prog_book.csv"

def create_table(filename, tablename):
    try:
        cnx = mysql.connect(host = "db", user="root", passwd = "root", db = "db")
        cursor = cnx.cursor(prepared=True)
        #Dropping EMPLOYEE table if already exists.
        cursor.execute("DROP TABLE IF EXISTS %s"%(tablename))

        #Reading the header
        with open(filename) as f:
            reader = csv.reader(f)
            header_row = next(reader)        

        #Creating table as per requirement
        sql = ''
        #print(len(header_row))
        for idx, header in enumerate(header_row):
            if (idx == 0):
                sql+='CREATE TABLE %s('%(tablename)
            if (idx != len(header_row)-1):
                sql+= '%s VARCHAR(2000) not null, '%(header)
            else:
                sql+= '%s VARCHAR(2000) not null) '%(header)


        cursor.execute(sql)

        #Closing the connection
        cnx.close()
        print('Successfully created tables')
    except:
        print('Something went wrong see error')
    
def add_data_from_file(filename, tablename):
    try:
        #reading csv file 
        data = pd.read_csv("./prog_book.csv") 

        #Creating a connection
        con_str = "mysql+mysqlconnector://root:root@db/db"
        engine = create_engine(con_str)

        #Re-writing it to map
        df = data.applymap(str)
        #Inserting it to the database
        df.to_sql(tablename,con=engine, if_exists='append', index = False)
        print('Successfully inserted data')
    except:
        print('Something went wrong see error')
    
create_table(filename, 'week42')
add_data_from_file(filename, 'week42')

Successfully created tables
Successfully inserted data

3. Opret en flask server

##### Go to ./flask and write 
##### ```docker build -t myimage .```
##### and then
##### ```docker run -d --name mycontainer -p 80:80 myimage```
##### Now you can access it via http://192.168.99.100 or http://127.0.0.1
##### To see what is running you can write ```docker ps```
##### To kill the connection write ```docker kill mycontainer``` and delete it in the docker?

In [85]:
##%%bash cd /flask docker build -t myimage .

# Go to ./flask and write 
# docker build -t myimage .
# and then
# docker run -d --name mycontainer -p 80:80 myimage
## Now you can access it via http://192.168.99.100 or http://127.0.0.1
### To kill the connection write docker kill mycontainer

UsageError: %%bash is a cell magic, but the cell body is empty.

4. Lav følgende endpoints samt tilhørende funktioner
    1. api/books (Returnerer alle bøger i databasen)
    2. api/books/top10 (Returnerer de 10 bøger med højest rating)
    3. api/books/newbook (Opretter en ny bog i databasen)
    4. api/book/deletebook/{id} (Sletter en bog med valgte id)
    5. api/book/editbook/{id} (Redigerer en bog med valgte id)
    6. api/book/avgprice (Returnerer gennemsnitsprisen for en bog)

In [ ]:
# A) api/books (Returnerer alle bøger i databasen)