# Week 40 handin

# Handin Exercise 8

Data from https://www.kaggle.com/thomaskonstantin/top-270-rated-computer-science-programing-books

1. Download data fra link

2. Opret en database ud fra ovenstående datastruktur
    1. Indsæt alt data i den oprettede database, fra den downloade fil

3. Opret en flask server

4. Lav følgende endpoints samt tilhørende funktioner
    1. api/books (Returnerer alle bøger i databasen)
    2. api/books/top10 (Returnerer de 10 bøger med højest rating)
    3. api/books/newbook (Opretter en ny bog i databasen)
    4. api/book/deletebook/{id} (Sletter en bog med valgte id)
    5. api/book/editbook/{id} (Redigerer en bog med valgte id)
    6. api/book/avgprice (Returnerer gennemsnitsprisen for en bog)
    
5. Test endpoints i Postman eller lignende.

## 02 Status

How far you got:

## 03 Exercises

1. Download data fra link

In [ ]:
!ls ./

2. Opret en database ud fra ovenstående datastruktur
    1. Indsæt alt data i den oprettede database, fra den downloade fil

In [1]:
import pandas as pd 
from sqlalchemy import create_engine #sqlalchemy helped convert strings to dates seamlessly
import mysql.connector as mysql
import csv

filename = "./prog_book.csv"

def create_table(filename, tablename):
    try:
        cnx = mysql.connect(host = "db", user="root", passwd = "root", db = "db")
        cursor = cnx.cursor(prepared=True)
        #Dropping EMPLOYEE table if already exists.
        cursor.execute("DROP TABLE IF EXISTS %s"%(tablename))

        #Reading the header
        with open(filename) as f:
            reader = csv.reader(f)
            header_row = next(reader)        

        #Creating table as per requirement
        sql = ''
        #print(len(header_row))
        for idx, header in enumerate(header_row):
            if (idx == 0):
                sql+='CREATE TABLE %s(bookid INTEGER not null AUTO_INCREMENT unique,'%(tablename)
            if (idx != len(header_row)-1):
                sql+= '%s VARCHAR(2000) not null, '%(header)
            else:
                sql+= '%s VARCHAR(2000) not null) '%(header)


        cursor.execute(sql)

        #Closing the connection
        cnx.close()
        print('Successfully created tables')
    except mysql.connector.Error as error:
        print("Failed to delete record from table: {}".format(error))
        return error
    
def add_data_from_file(filename, tablename):
    try:
        #reading csv file 
        data = pd.read_csv("./prog_book.csv") 

        #Creating a connection
        con_str = "mysql+mysqlconnector://root:root@db/db"
        engine = create_engine(con_str)

        #Re-writing it to map
        df = data.applymap(str)
        #Inserting it to the database
        df.to_sql(tablename,con=engine, if_exists='append', index = False)
        print('Successfully inserted data')
    except:
        print('Something went wrong see error')
    
create_table(filename, 'week42')
add_data_from_file(filename, 'week42')

Successfully created tables
Successfully inserted data

3. Opret en flask server

##### Go to ./flask and write 
##### ```docker-compose up.```

In [ ]:
##%%bash cd /flask docker build -t myimage .

# Go to ./flask and write 
# docker build -t myimage .
# and then
# docker run -d --name mycontainer -p 80:80 myimage
## Now you can access it via http://192.168.99.100 or http://127.0.0.1
### To kill the connection write docker kill mycontainer


#!python modules/two.py ???? http://127.0.0.1:8888/notebooks/02-0c%20Modules.ipynb

4. Lav følgende endpoints samt tilhørende funktioner
    1. api/books (Returnerer alle bøger i databasen)
    2. api/books/top10 (Returnerer de 10 bøger med højest rating)
    3. api/books/newbook (Opretter en ny bog i databasen)
    4. api/book/deletebook/{id} (Sletter en bog med valgte id)
    5. api/book/editbook/{id} (Redigerer en bog med valgte id)
    6. api/book/avgprice (Returnerer gennemsnitsprisen for en bog)

In [1]:
# A)
# B)

# C) api/books/newbook (Opretter en ny bog i databasen)
from sqlalchemy import create_engine #sqlalchemy helped convert strings to dates seamlessly
import mysql.connector as mysql


class Book():

    def __init__(self, rating, reviews, book_title, description, number_of_pages, booktype, price):
        self.rating = rating
        self.reviews = reviews
        self.book_title = book_title
        self.description = description
        self.number_of_pages = number_of_pages
        self.booktype = booktype
        self.price = price
        
    def __str__(self):
        return 'Book {rating}: {reviews}, {book_title}, {description}, {number_of_pages}, {booktype}, {price}'.format(rating=self.rating, reviews=self.reviews, book_title=self.book_title, description=self.description, number_of_pages=self.number_of_pages, booktype=self.booktype, price=self.price)

####Works
def add_book(Book):
    try:
        cnx = mysql.connect(host = "db", user="root", passwd = "root", db = "db")
        cursor = cnx.cursor(prepared=True)
        sql="INSERT INTO week42 (Rating, Reviews, Book_title, Description, Number_Of_Pages, Type, Price) VALUES (%s,%s,%s,%s,%s,%s,%s)" 
        book_data = (Book.rating,Book.reviews,Book.book_title,Book.description,Book.number_of_pages,Book.booktype,Book.price)
        cursor.execute(sql, book_data)
        cnx.commit()

        #Closing the connection
        cnx.close()
        print('Successfully add Book')
    except mysql.connector.Error as error:
        print("Failed to delete record from table: {}".format(error))
        return error
    return 'Book added'   


#test = Book('100','78','Fancy Book Title', 'Description', '1000000', 'Hardcover', '1823123')
#print(add_book(test))

# D) api/book/deletebook/{id} (Sletter en bog med valgte id)
####Works
def delete_book(bookid):
    try:
        cnx = mysql.connect(host = "db", user="root", passwd = "root", db = "db")
        cursor = cnx.cursor(prepared=True)
        sql = 'delete from week42 where bookid = %s' %(bookid)
        print (sql)
        
        cursor.execute(sql)
        cnx.commit()

        #Closing the connection
        cnx.close()
        print('Successfully deleted Book')
    except mysql.connector.Error as error:
        print("Failed to delete record from table: {}".format(error))
        return error
    return 'Book deleted'  

#delete_book(272)

##Works
# E) api/book/editbook/{id} (Redigerer en bog med valgte id)
def edit_book(bookid, Book):
    try:
        cnx = mysql.connect(host = "db", user="root", passwd = "root", db = "db")
        cursor = cnx.cursor(prepared=True)
        
        sql_update_query = "update week42 set Rating = \'%s\', Reviews = \'%s\', Book_title = \'%s\', Description = \'%s\', Number_Of_Pages = \'%s\', Type = \'%s\', Price = \'%s\' where bookid = %d"%(Book.rating,Book.reviews,Book.book_title,Book.description,Book.number_of_pages,Book.booktype,Book.price,bookid)

        cursor.execute(sql_update_query)
        cnx.commit()

        #Closing the connection
        cnx.close()
        print('Successfully edited Book')
    except mysql.connector.Error as error:
        print("Failed to delete record from table: {}".format(error))
        return error
    return 'Book Edited'  

test2 = Book('100','78','Fancy Book Title', 'test12351512', '1000000', 'Hardcover', '1823123')
print(edit_book(3, test2))


# F) api/book/avgprice (Returnerer gennemsnitsprisen for en bog)

def average_book():
    try:
        cnx = mysql.connect(host = "db", user="root", passwd = "root", db = "db")
        cursor = cnx.cursor(prepared=True)
        sql="SELECT AVG(Price) FROM week42" 
        
        cursor.execute(sql)
        result = cursor.fetchone()

        formatted_float = "{:.2f}".format(result[0])
        print('The average of all Books are: ',formatted_float)

        #Closing the connection
        cnx.close()
    except mysql.connector.Error as error:
        print("Failed to delete record from table: {}".format(error))
        return error
    return ('The average of all Books are: ',formatted_float) 

#average_book()

Successfully edited Book
Book Edited