# Week 44 handin

# Handin Exercise 10

1. With the information below create a dictionary of the below and find out what action would be the cheapest by using linear algebra for each person.

**Needs to buy dogs for their pet shop**  

|person|dog_labrador|dog_puddle|dog_rottweiler|dog_bulldog|traveling_expense|
|--|--|--|--|--|--|
|p1|6|5|3|1|1|
|p2|3|6|2|2|1|
|p3|3|4|3|1|1|
|p4|15|4|3|8|0|

**Prices in the different countries**  

|Countries|Denmark|UK|China|USA|
|--|--|--|--|--|
|dog_labrador|2500|1700|700|1699|
|dog_puddle|4500|3000|2000|1500|
|dog_rottweiler|500|450|4500|890|
|dog_bulldog|1600|1700|1200|1900|
|traveling_expense|2600|2700|9000|5000|

2. All of the owners suddenly found out that they need to buy 3 times as many rottweilers and 10 times as many for bulldogs than previous expected.
	1. Use Matrix multiplication to change the table data.
	2. Again let's see what course of action is best for each person and how much it would cost now.
	3. What is the difference between the highest and the lowest price that each person could have choosen.

3. Download below data
	1. GDP (current US$) - European Union: http://api.worldbank.org/v2/en/indicator/NY.GDP.MKTP.CD?downloadformat=csv
	2. EU prices for selected representative products: https://ec.europa.eu/info/sites/info/files/market-prices-fruit-products_en_6.csv

4. From 3.1. Find the GDP from 1995-2019 for:
	1. Greece
	2. Spain
	3. France
	4. Italy
	5. Portugal
	6. European Union

5. From 3.2. Find the price of below items from 1995-2020 (2020-06) for the countries in assignment 4.
	1. Strawberries
	2. Nectarines
	3. Apples Braeburn

6. With this data.
	1. Make a line plot of 4. and 5.
	2. Try to create a correlation between the GDP and the price of the 3 products.

7. Using sklearn
	1. Predict the price of strawberries and the GDP in year 3020.

Extra:
8. With all of the data from exercise 4 and 5.
	1. Find out if there is a linear relationship between features and show the correlation.

## 02 Status

How far you got:

All done

## 03 Exercises

1. With the information below create a dictionary of the below and find out what action would be the cheapest by using linear algebra for each person.

**Needs to buy dogs for their pet shop**  

|person|dog_labrador|dog_puddle|dog_rottweiler|dog_bulldog|traveling_expense|
|--|--|--|--|--|--|
|p1|6|5|3|1|1|
|p2|3|6|2|2|1|
|p3|3|4|3|1|1|
|p4|15|4|3|8|0|

**Prices in the different countries**  

|Countries|Denmark|UK|China|USA|
|--|--|--|--|--|
|dog_labrador|2500|1700|700|1699|
|dog_puddle|4500|3000|2000|1500|
|dog_rottweiler|500|450|4500|890|
|dog_bulldog|1600|1700|1200|1900|
|traveling_expense|2600|2700|9000|5000|

In [1]:
import pandas as pd

shoppers = {
'p1':{'dog_labrador':6,'dog_puddle':5,'dog_rottweiler':3,'dog_bulldog':1, 'traveling_expense':1},
'p2':{'dog_labrador':3,'dog_puddle':6,'dog_rottweiler':2,'dog_bulldog':2, 'traveling_expense':1},
'p3':{'dog_labrador':3,'dog_puddle':4,'dog_rottweiler':3,'dog_bulldog':1, 'traveling_expense':1},
'p4':{'dog_labrador':15,'dog_puddle':4,'dog_rottweiler':3,'dog_bulldog':8, 'traveling_expense':0}
}

countries_price = {
'Denmark':{'dog_labrador':2500,'dog_puddle':4500,'dog_rottweiler':500,'dog_bulldog':1600, 'traveling_expense':2600},
'UK':{'dog_labrador':1700,'dog_puddle':3000,'dog_rottweiler':450,'dog_bulldog':1700, 'traveling_expense':2700},
'China':{'dog_labrador':700,'dog_puddle':2000,'dog_rottweiler':4500,'dog_bulldog':1200, 'traveling_expense':9000},
'USA':{'dog_labrador':1699,'dog_puddle':1500,'dog_rottweiler':890,'dog_bulldog':1900, 'traveling_expense':5000}
}

s_df = pd.DataFrame(shoppers).T
p_df = pd.DataFrame(countries_price)

shoppersdot = s_df.dot(p_df)
print(shoppersdot)

    Denmark     UK  China    USA
p1    43200  30950  37900  27264
p2    41300  30100  34500  24677
p3    31200  22850  33800  20667
p4    69800  52450  41600  49355

2. All of the owners suddenly found out that they need to buy 3 times as many rottweilers and 10 times as many for bulldogs than previous expected.

    1. Use Matrix multiplication to change the table data.
    2. Again let's see what course of action is best for each person and how much it would cost now.
    3. What is the difference between the highest and the lowest price that each person could have choosen.

In [2]:
#A + B
import numpy as np

multi_array = np.array([[1,1,3,10,1]])
new_s_df = s_df*multi_array
print("New shopper list:\n\n",new_s_df)

p_df = pd.DataFrame(countries_price)

new_shoppersdot = new_s_df.dot(p_df)
print("\nNew dot list:\n\n",new_shoppersdot)

New shopper list:

     dog_labrador  dog_puddle  dog_rottweiler  dog_bulldog  traveling_expense
p1             6           5               9           10                  1
p2             3           6               6           20                  1
p3             3           4               9           10                  1
p4            15           4               9           80                  0

New dot list:

     Denmark      UK   China     USA
p1    60600   48950   75700   49704
p2    72100   62500   74100   62437
p3    48600   40850   71600   43107
p4   188000  177550  155000  191495

In [3]:
#C
import pandas as pd

for num, name in enumerate(new_shoppersdot, start=1):
    user = new_shoppersdot.index[num-1]
    maxValues = new_shoppersdot.loc[[user]].max(axis = 1).iloc[0]
    minValues = new_shoppersdot.loc[[user]].min(axis = 1).iloc[0]
    saved = maxValues-minValues
    print(user, "Has saved:",saved,"\nBy buying it for",minValues,"instead of",maxValues,"\n")

p1 Has saved: 26750
By buying it for 48950 instead of 75700

p2 Has saved: 11663
By buying it for 62437 instead of 74100

p3 Has saved: 30750
By buying it for 40850 instead of 71600

p4 Has saved: 36495
By buying it for 155000 instead of 191495

3. Download below data

    1. GDP (current US$) - European Union: http://api.worldbank.org/v2/en/indicator/NY.GDP.MKTP.CD?downloadformat=csv
    2. EU prices for selected representative products: https://ec.europa.eu/info/sites/info/files/market-prices-fruit-products_en_6.csv

In [4]:
from tqdm import tqdm
import requests
import os

def download_function(url):
    # read 1024 bytes every time 
    buffer_size = 1024
    # download the body of response by chunk, not immediately
    response = requests.get(url, stream=True)
    # get the total file size
    file_size = int(response.headers.get("Content-Length", 0))
    # get the file name
    filename = url.split("/")[-1]
    fullfilename = os.path.join('data', filename)

    # progress bar, changing the unit to bytes instead of iteration (default by tqdm)
    progress = tqdm(response.iter_content(buffer_size), f"Downloading {filename}", total=file_size, unit="B", unit_scale=True, unit_divisor=1024)
    with open(filename, "wb") as f:
        for data in progress:
            # write data read to the file
            f.write(data)
            # update the progress bar manually
            progress.update(len(data))
    print('File downloaded', filename)

In [5]:
# A + B
GDP_url = "http://api.worldbank.org/v2/en/indicator/NY.GDP.MKTP.CD?downloadformat=csv"
EU_prod_prices = "https://ec.europa.eu/info/sites/info/files/market-prices-fruit-products_en_6.csv"

download_function(GDP_url)
download_function(EU_prod_prices)

Downloading NY.GDP.MKTP.CD?downloadformat=csv:   0%|          | 118/117k [00:00<05:15, 379B/s]

File downloaded NY.GDP.MKTP.CD?downloadformat=csv

Downloading market-prices-fruit-products_en_6.csv: 704B [00:00, 2.16kB/s]

File downloaded market-prices-fruit-products_en_6.csv

4. From 3.1. Find the GDP from 1995-2019 for:

    1. Greece
    2. Spain
    3. France
    4. Italy
    5. Portugal
    6. EU

In [23]:
import csv
import pandas as pd

df = pd.read_csv('data/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_1593873.csv', skiprows=4)

year_mask = df.iloc[:,39:-2]
countries = ["Greece", "Spain", "France", "Italy", "Portugal", "European Union"]
countries_data = {}

for country in countries:
    country_mask = (df[:]['Country Name'].str.contains(country) == True)
    data = df[country_mask].iloc[:,39:-2]
    df_new = data.rename(index={data.index[0]: country})
    #countries_data.append(df_new)
    countries_data[country] = df_new
countries_data

print(countries_data)

{'Greece':                 1995          1996          1997          1998          1999  \
Greece  1.368784e+11  1.458616e+11  1.431576e+11  1.444282e+11  1.425407e+11

                2000          2001          2002          2003          2004  \
Greece  1.301338e+11  1.361914e+11  1.538309e+11  2.019243e+11  2.405213e+11

        ...          2010          2011          2012          2013  \
Greece  ...  2.993616e+11  2.877978e+11  2.456707e+11  2.398620e+11

                2014          2015          2016          2017          2018  \
Greece  2.370296e+11  1.965914e+11  1.952224e+11  2.035884e+11  2.181384e+11

                2019
Greece  2.098528e+11

[1 rows x 25 columns], 'Spain':                1995          1996          1997          1998          1999  \
Spain  6.146090e+11  6.425890e+11  5.900773e+11  6.192148e+11  6.346932e+11

               2000          2001          2002          2003          2004  \
Spain  5.968776e+11  6.272868e+11  7.053943e+11  9.054921e+11  1.067093e+12

       ...          2010          2011          2012          2013  \
Spain  ...  1.420722e+12  1.478773e+12  1.324820e+12  1.354757e+12

               2014          2015          2016          2017          2018  \
Spain  1.369399e+12  1.195119e+12  1.232076e+12  1.312552e+12  1.419735e+12

               2019
Spain  1.394116e+12

[1 rows x 25 columns], 'France':                 1995          1996          1997          1998          1999  \
France  1.601095e+12  1.605675e+12  1.452885e+12  1.503109e+12  1.492648e+12

                2000          2001          2002          2003          2004  \
France  1.362249e+12  1.376465e+12  1.494287e+12  1.840481e+12  2.115742e+12

        ...          2010          2011          2012          2013  \
France  ...  2.642610e+12  2.861408e+12  2.683825e+12  2.811078e+12

                2014          2015          2016          2017          2018  \
France  2.852166e+12  2.438208e+12  2.471286e+12  2.595151e+12  2.787864e+12

                2019
France  2.715518e+12

[1 rows x 25 columns], 'Italy':                1995          1996          1997          1998          1999  \
Italy  1.174662e+12  1.312427e+12  1.241880e+12  1.270053e+12  1.252024e+12

               2000          2001          2002          2003          2004  \
Italy  1.143830e+12  1.167013e+12  1.270712e+12  1.574146e+12  1.803227e+12

       ...          2010          2011          2012          2013  \
Italy  ...  2.134018e+12  2.291991e+12  2.087077e+12  2.141315e+12

               2014          2015          2016          2017          2018  \
Italy  2.159134e+12  1.835899e+12  1.875797e+12  1.961796e+12  2.085764e+12

               2019
Italy  2.001244e+12

[1 rows x 25 columns], 'Portugal':                   1995          1996          1997          1998  \
Portugal  1.181220e+11  1.226301e+11  1.170165e+11  1.239463e+11

                  1999          2000          2001          2002  \
Portugal  1.274273e+11  1.183107e+11  1.214989e+11  1.341561e+11

                  2003          2004  ...          2010          2011  \
Portugal  1.648621e+11  1.890345e+11  ...  2.378809e+11  2.447972e+11

                  2012          2013          2014          2015  \
Portugal  2.162366e+11  2.263695e+11  2.295962e+11  1.993139e+11

                  2016          2017          2018          2019
Portugal  2.062860e+11  2.213579e+11  2.412746e+11  2.376861e+11

[1 rows x 25 columns], 'European Union':                         1995          1996          1997          1998  \
European Union  8.295717e+12  8.431193e+12  7.732922e+12  7.968673e+12

                        1999          2000          2001          2002  \
European Union  7.922645e+12  7.259399e+12  7.387163e+12  8.049116e+12

                        2003          2004  ...          2010          2011  \
European Union  9.911360e+12  1.139879e+13  ...  1.454039e+13  1.574184e+13

                        2012          2013          2014          2015  \
European Union  1.463616e+13  1.529356e+13  1.563306e+13  1.354691e+13

                        2016          2017          2018          2019
European Union  1.388260e+13  1.473571e+13  1.593198e+13  1.559280e+13

[1 rows x 25 columns]}

5. From 3.2. Find the price of below items from 1995-2020 (2020-06) for the countries in assignment 4.

    1. Strawberries
    2. Nectarines
    3. Apples Braeburn

In [12]:
import csv
import pandas as pd

df = pd.read_csv('data/market-prices-fruit-products_en_6.csv', skiprows=0)


countries = ["EL", "ES", "FR", "IT", "PT", "EU"]
categories = ["Strawberries", "Nectarines", "Apples Braeburn"]
#Food masks
# strawberries_mask = (df[:]['Product desc'].str.contains('Strawberries'))
# nectarines_mask = (df[:]['Product desc'].str.contains('Nectarines'))
# apple_mask = (df[:]['Product desc'].str.contains('Apples Braeburn'))

#Country masks
# greece_mask = (df[:]['Country'].str.contains('EL') == True)
# spain_mask = (df['Country'].str.contains('ES') == True)
# france_mask = (df[:]['Country'].str.contains('FR') == True)
# italy_mask = (df[:]['Country'].str.contains('IT') == True)
# portugal_mask = (df[:]['Country'].str.contains('PT') == True)
# eu_mask = (df[:]['Country'].str.contains('EU') == True)


all_info = {}



for country in countries:
    country_info = {}
    country_mask = (df[:]['Country'].str.contains(country) == True)
    data = df[country_mask].iloc[:,39:-2]
    for category in categories:
        country_info[category] = df.loc[country_mask & (df[:]['Product desc'].str.contains(category))]
    all_info[country] = country_info

    

print(type(all_info))

<class 'dict'>

6. With this data.

    1. Make a line plot of 4. and 5.
    2. Try to create a correlation between the GDP and the price of the 3 products.

In [74]:
import pandas as pd

type(countries_data)
countries = ["Greece", "Spain", "France", "Italy", "Portugal", "European Union"]

gdp_greece = pd.DataFrame (countries_data["Greece"]).T
gdp_greece = pd.DataFrame (gdp_greece['Greece'].apply(np.int64))

gdp_spain = pd.DataFrame (countries_data['Spain']).T
gdp_spain = pd.DataFrame (gdp_spain['Spain'].apply(np.int64))

gdp_france = pd.DataFrame (countries_data['France']).T
gdp_france = pd.DataFrame (gdp_france['France'].apply(np.int64))

gdp_italy = pd.DataFrame (countries_data['Italy']).T
gdp_italy = pd.DataFrame (gdp_italy['Italy'].apply(np.int64))

gdp_portugal = pd.DataFrame (countries_data['Portugal']).T
gdp_portugal = pd.DataFrame (gdp_portugal['Portugal'].apply(np.int64))

gdp_eu = pd.DataFrame (countries_data['European Union']).T
gdp_eu = pd.DataFrame (gdp_eu['European Union'].apply(np.int64))

# gdp_greece.reset_index(drop=True, inplace=True)
# gdp_spain.reset_index(drop=True, inplace=True)
# gdp_france.reset_index(drop=True, inplace=True)
# gdp_italy.reset_index(drop=True, inplace=True)
# gdp_portugal.reset_index(drop=True, inplace=True)
# gdp_eu.reset_index(drop=True, inplace=True)

gdp = [gdp_greece, gdp_spain, gdp_france, gdp_italy, gdp_portugal, gdp_eu]
test = pd.concat(gdp)
#test2 = gdp_greece2.append(gdp_spain2, ignore_index = True) 
#gdp_greece = gdp_greece['Greece'].apply(np.int64)
test

            Greece  Spain  France  Italy  Portugal  European Union
1995  1.368784e+11    NaN     NaN    NaN       NaN             NaN
1996  1.458616e+11    NaN     NaN    NaN       NaN             NaN
1997  1.431576e+11    NaN     NaN    NaN       NaN             NaN
1998  1.444282e+11    NaN     NaN    NaN       NaN             NaN
1999  1.425407e+11    NaN     NaN    NaN       NaN             NaN
...            ...    ...     ...    ...       ...             ...
2015           NaN    NaN     NaN    NaN       NaN    1.354691e+13
2016           NaN    NaN     NaN    NaN       NaN    1.388260e+13
2017           NaN    NaN     NaN    NaN       NaN    1.473571e+13
2018           NaN    NaN     NaN    NaN       NaN    1.593198e+13
2019           NaN    NaN     NaN    NaN       NaN    1.559280e+13

[150 rows x 6 columns]

7. Using sklearn

    1. Predict the price of strawberries and the GDP in year 3020.

In [ ]:
import csv
import pandas as pd

df = pd.read_csv('data/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_1593873.csv', skiprows=4)
df.head()